
*{
  box-sizing: border-box;
}
.Alert {
  background-color: rgb(221, 221, 221);
  color: rgb(84, 84, 84);
  border: 1px solid rgb(84, 84, 84);
  border-radius: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin: 10px ;
  padding-left: 20px;
}
.Alert.danger{
background-color: #f8d7da;
color: #f5c2c7;
border-color: #f5c2c7;
}
.Alert.succes{
  background-color: #d1e7dd;
  color: #4d5132;
  border-color: #badbcc;
}
.Alert.primary{
  background-color: #cfe2ff;
  color: #4842a5;
  border-color: #b6d4fe;
}
.Alert.secondary{
  background-color: #e2e3e5;
  color: #41464b;
  border-color: #41464b;
}
.Alert.light{
  background-color: #fff;
  color: grey;
  border-color:none;
}
.Alert.warning{
  background-color: #eec578;
  color: #eca758;
  border-color: #f1bc58;
}
.Alert.info{
  background-color: #9ee972;
color: #7fbdfb;
border-color: #a7ec8c;
}
.Alert.dark{
  background-color: #e2e3e5;
  color: #282929;
  border-color: #41464b;
}